{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Home{{end}}
{{define "description"}}PlanktoScope browser portal{{end}}

{{define "content"}}
  <main class="main-container">
    <section class="section content">
      <h1>PlanktoScope</h1>
      <div class="card-width">
        <p>
          Welcome! This is the home page for your PlanktoScope. More content will be added soon.
        </p>
    </section>
  </main>
{{end}}
