{{template "shared/base.layout.tmpl" .}}

{{define "title" -}}
  {{- $machineName := .Data.MachineName -}}
  PlanktoScope {{$machineName}}
{{- end}}
{{define "description"}}PlanktoScope browser portal{{end}}

{{define "content"}}
  {{$hostname := .Data.Hostname}}
  {{$port := .Data.Port}}
  {{$machineName := .Data.MachineName}}

  <main>
    <section class="section content">
      <div class="container">
        <h1>PlanktoScope {{$machineName}}</h1>
        <p>
          Welcome! This is the home page for your PlanktoScope with machine name
          <code>{{$machineName}}</code>.
        </p>
        <p>
          Below you can find a list of links to browser applications provided by your PlanktoScope,
          documentation for operating your PlanktoScope, and other information to help you use your PlanktoScope.
        </p>

        <h2>Browser applications</h2>
        <p>PlanktoScope operation:</p>
        <ul>
          <li>
            <strong><a href="/ps/node-red-v2/ui/">Node-RED dashboard</a></strong>:
            Provides a Node-RED dashboard to operate the PlanktoScope
          </li>
          <li>
            <strong><a href="/ps/data/browse/">Dataset file manager</a></strong>:
            Provides a file browsing and management interface for the datasets collected by the PlanktoScope
          </li>
        </ul>
        <p>System administration and troubleshooting:</p>
        <ul>
          <li>
            <strong><a href="/admin/ps/device-backend-logs/browse/">Backend logs file manager</a></strong>:
            Provides a file browsing and management interface for the PlanktoScope device backend's logs
          </li>
        </ul>

        <h2>Need help?</h2>

        <h3 class="is-size-5">Wrong PlanktoScope?</h3>
        <p>
          This PlanktoScope has machine name <code>{{$machineName}}</code>. If you're looking for a
          different PlanktoScope:
        </p>
        <ul>
          <li>
            You should use your web browser to open that PlanktoScope's machine-specific URL
            instead.
            {{if hasSuffix ".planktoscope" $hostname}}
              For example, the machine-specific URL for this PlanktoScope is
              <a href="//{{$machineName}}.planktoscope">
                {{- /* make template ignore the line break */ -}}
                {{$machineName}}.planktoscope
                {{- /* make template ignore the line break */ -}}
              </a>.
              Alternatively,
              <a href="//planktoscope-{{$machineName}}.local">
                {{- /* make template ignore the line break */ -}}
                planktoscope-{{$machineName}}.local
                {{- /* make template ignore the line break */ -}}
              </a>
              might also work if your web browser supports mDNS.
            {{else if and (hasPrefix "planktoscope" $hostname) (hasSuffix ".local" $hostname)}}
              For example, the machine-specific URL for this PlanktoScope is
              <a href="//planktoscope-{{$machineName}}.local">
                {{- /* make template ignore the line break */ -}}
                planktoscope-{{$machineName}}.local
                {{- /* make template ignore the line break */ -}}
              </a>.
              Alternatively,
              <a href="//{{$machineName}}.planktoscope">
                {{- /* make template ignore the line break */ -}}
                {{$machineName}}.planktoscope
                {{- /* make template ignore the line break */ -}}
              </a>
              might also work if you're connecting directly to your PlanktoScope (i.e. to its
              Ethernet port or to a Wi-Fi network created by your PlanktoScope) and your web browser
              isn't using Private DNS to look up domain names.
            {{end}}
          </li>
          <li>
            {{if hasSuffix ".planktoscope" $hostname}}
              You're probably trying to connect directly to your PlanktoScope (i.e. to its Ethernet
              port or to a Wi-Fi network created by that PlanktoScope). You
            {{else}}
              If you're trying to connect directly to a different PlanktoScope (i.e. to its Ethernet
              port or to a Wi-Fi network created by that PlanktoScope), you
            {{end}}
            might need to change your
            network configuration in order to connect to that PlanktoScope's Wi-Fi network or
            Ethernet port, and you might also need to disconnect from
            <code>{{$machineName}}</code>'s Wi-Fi network or Ethernet port.
          </li>
        </ul>

        <h3 class="is-size-5">Documentation</h3>
        <p>Accessible offline:</p>
        <ul>
          <li>
            <strong><a href="/ps/docs/">Official PlanktoScope documentation</a></strong>:
            Provides an offline copy of the official PlanktoScope project documentation
          </li>
          <li>
            <strong><a href="/ps/docs/usage/protocol-v2.pdf">
              Protocol for plankton imaging, v2
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides an offline copy of version 2 of the protocol for quantifying plankton diversity
            using version 2.5 of the official PlanktoScope hardware and version 2.3 of the official
            PlanktoScope software
          </li>
          <li>
            <strong><a href="/ps/docs/usage/protocol-v1.pdf">
              Protocol for plankton imaging, v1
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides an offline copy of version 1 of the protocol for quantifying plankton diversity
            using versions 2.1-2.3 of the official PlanktoScope hardware and version 2.3 of the
            official PlanktoScope software
          </li>
        </ul>
        <p>On the internet:</p>
        <ul>
          <li>
            <strong><a href="https://planktoscope.readthedocs.io/en/latest/">Official PlanktoScope documentation</a></strong>:
            Provides the latest version of the official PlanktoScope documentation
          </li>
          <li>
            <strong><a href="https://www.protocols.io/view/planktoscope-protocol-for-plankton-imaging-bp2l6bq3zgqe/v2?version_warning=no">
              Protocol for plankton imaging, v2
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides version 2 of the protocol for quantifying plankton diversity using version 2.5
            of the official PlanktoScope hardware and version 2.3 of the official PlanktoScope software
          </li>
          <li>
            <strong><a href="https://www.protocols.io/view/planktoscope-protocol-for-plankton-imaging-bp2l6bq3zgqe/v1?version_warning=no">
              Protocol for plankton imaging, v1
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides version 1 of the protocol for quantifying plankton diversity using versions 2.1-2.3
            of the official PlanktoScope hardware and version 2.3 of the official PlanktoScope software
          </li>
        </ul>

        <h3 class="is-size-5">Community</h3>
        <ul>
          <li>
            <strong><a href="https://www.planktoscope.org">Official PlanktoScope website</a></strong>:
            Provides information about the PlanktoScope project and about how to get involved in the
            PlanktoScope community
          </li>
          <li>
            <strong><a href="https://planktoscope.slack.com">PlanktoScope on Slack</a></strong>:
            Hosts the community for people building, using, and improving PlanktoScopes
          </li>
          <li>
            <strong><a href="https://www.planktoscope.org/join">
              PlanktoScope Slack registration form
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides a registration form to join the PlanktoScope community on Slack
          </li>
          <li>
            <strong><a href="https://github.com/PlanktoScope">PlanktoScope on GitHub</a></strong>:
            Hosts the community for developing and maintaining the PlanktoScope's software and hardware
          </li>
          <li>
            <strong><a href="https://www.fairscope.co/">FairScope</a></strong>:
            Provides preassembled PlanktoScopes, PlanktoScope hardware kits, and paid support services
            for operating PlanktoScopes - from the inventor of the PlanktoScope
          </li>
        </ul>

        <h2>For advanced users</h2>

        <h3 class="is-size-5">Browser applications</h3>
        <p>System administration and troubleshooting:</p>
        <ul>
          <li>
            <strong><a href="/admin/cockpit/">Cockpit</a></strong>:
            Provides a general-purpose system administration dashboard for the computer embedded in
            the PlanktoScope
          </li>
          <li>
            <strong><a href="/admin/fs/">System file manager</a></strong>:
            Provides a file browsing and management interface for the entire filesystem of the
            computer embedded in the PlanktoScope
          </li>
          <li>
            <strong><a href="/admin/portainer/">Portainer</a></strong>:
            Provides a Docker administration dashboard
          </li>
        </ul>
        <p>Software development:</p>
        <ul>
          <li>
            <strong><a href="/admin/ps/node-red-v2/">Node-RED dashboard editor</a></strong>:
            Provides a Node-RED flow editor to modify the Node-RED dashboard
          </li>
        </ul>
        <p>System recovery:</p>
        <ul>
          <li>
            <strong><a href="//{{$hostname}}:9090/admin/cockpit/">
              Cockpit (direct-access fallback)
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides fallback access to the Cockpit application, accessible even if the system's
            service proxy stops working
          </li>
          <li>
            <strong><a href="//{{$hostname}}:9000">Portainer (direct-access fallback)</a></strong>:
            Provides fallback access to the Portainer application, accessible even if the system's
            service proxy stops working
          </li>
        </ul>

        <h3 class="is-size-5">Network APIs</h3>
        <p>PlanktoScope operation:</p>
        <ul>
          <li>
            <strong>PlanktoScope hardware controller</strong>:
            Provides an MQTT service on topics under <code>/actuator</code>, <code>/imager</code>,
            <code>/status/pump</code>, <code>/status/focus</code>, and <code>/status/imager</code>
            for operating the PlanktoScope hardware
          </li>
          <li>
            <strong><a href="/ps/hal/camera/streams/preview.mjpg">
              PlanktoScope microscope camera preview
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides an MJPEG stream to preview the latest microscope camera frame
          </li>
          <li>
            <strong>PlanktoScope object segmenter</strong>:
            Provides an MQTT service on topics under <code>/segmenter</code> and
            <code>/status/segmenter</code> for operating the PlanktoScope object segmenter
          </li>
          <li>
            <strong><a href="/ps/processing/segmenter/streams/object.mjpg">
              PlanktoScope segmented object preview
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Provides an MJPEG stream to preview the latest segmented object
          </li>
        </ul>

        <h3 class="is-size-5">System infrastructure</h3>
        <p>Networking:</p>
        <ul>
          <li>
            <strong>SSH server</strong>:
            Provides SSH access to the PlanktoScope at <code>{{$hostname}}:22</code>
          </li>
          <li>
            <strong>MQTT broker</strong>:
            Provides a broker for MQTT messages at <code>{{$hostname}}:1883</code>
          </li>
          <li>
            <strong>Service proxy</strong>:
            Provides a reverse-proxy to make browser applications and HTTP network APIs uniformly available
            at different paths at <code>{{$hostname}}</code>
          </li>
          <li>
            <strong><a href="/">Device portal</a></strong>:
            Provides a landing page as a portal to the browser applications, network APIs, and system
            infrastructure on the PlanktoScope
          </li>
        </ul>
      </div>
    </section>
  </main>
{{end}}
