<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="We have some trouble.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#8e7dc4">

  <title>There's a problem</title>

  <link rel="icon alternate" href="/favicon.ico" size="any">
  <link rel="manifest" href="/app/app.webmanifest">
</head>

<body>
  <main class="main-container">
    <section class="section content">
      <div class="container">
        <h1>Internal Server Error (500)</h1>
        <p>
          One or more webpage templates is invalid! As a result, we cannot display more detailed
          information about this error. Please check the server logs for details.
        </p>
      </div>
    </section>
  </main>
</body>
</html>
